/** start with the smallest size first - serve a scaled down version
	of the background image **/

/** the original image was 4460px x 2973px and 950KB - use photoshop
	or squoosh.app to resize the image down to 600px x 400px and run it through
	a compression tool to reduce the file size **/

header{
	/** allows for one value only **/
	background-image: url(../img/small-bg.jpg) center bottom / cover no-repeat;

	/** shorthand for any background image 
	background-position (x & y), background-size, and then background repeat **/

	padding: 2rem;
	height: 400px;	
}

h1 {
	font-size: 2.5rem;
	text-align: center;
}

@media screen and (min-width: 800px){
	header{
		background: url(../img/medium-bg.jpg) center bottom / cover no-repeat;
	}

	/**  automatically increase font size**/
	h1{
		font-size: calc(2.5rem + 2vw);
	}
	
}

@media screen and (min-width: 1440px){
	header{
		background: url(../img/background-image) center bottom / cover no-repeat;
	}
}